body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 70px;
    text-align: center;
    background-color: #eee;
}
.content{
    margin: 10px 0 10px 0;
    display: flex;
}
.image1{
    width: 25%;
    height: 200px;
    background-color: #eee;
    text-align: center;
    margin: 10px;
}
.image2{
    width: 25%;
    height: 200px;
    background-color: #eee;
    text-align: center;
    margin: 10px;
}
.footer{
    height: 100px;
    text-align: center;
    background-color: #eee;
}